src/main/resources/xsd/StudentsRequest.xsd


<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://concretepage.com/soap" targetNamespace="http://concretepage.com/soap"
	elementFormDefault="qualified">

<xs:include schemaLocation="StudentsSimpleType.xsd"></xs:include>

	<xs:element name="getStudentRequest" >
	<xs:complexType>
		<xs:sequence>
			<xs:choice>
				<xs:element name="studentId" type="tns:myid" />
				<xs:element name="studentId1" type="tns:myid1" />
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	</xs:element>
	
</xs:schema>